.catalog__list {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.catalog__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__item img {
  width: calc(100%);
}

.catalog__flag {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url(../../img/icons/hit.svg) no-repeat top left;
  background-size: 61px 61px;
}

.catalog__link {
  display: block;
  color: #fff;
  text-align: center;
  
}

.catalog__price {
  position: absolute;
  left: 0;
  bottom: 50px;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.catalog__name {
  display: inline;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.catalog__item {
  position: relative;
}

.catalog__item::after {
  content: "";
  position: absolute;
  display: none;
  top: -6px;
  left: -13px;
  right: -13px;
  bottom: 0;
  height: calc(100% + 80px);
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.2;
  z-index: 1;
}

.catalog__item:hover::after {
  display: block;
  margin-bottom: -80px;
}

.catalog__item:hover .product__quick-view{
  display: block;
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}