.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon {
    display: flex;
}

.social-icons__link--twitter::before {
    background-position: 0 -32px;
}

.social-icons__link--instagram::before {
    background-position: -64px -32px;
}

.social-icons__link--fb::before {
    background-position: -128px -32px;
}

.social-icons__link--vk::before {
    background-position: -192px -32px;
}

.social-icons__link {
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 11px;
    -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.5);
            box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    text-indent: -1000px;
    overflow: hidden;
  }


.social-icons__link::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 32px;
    height: 32px;
    opacity: .8;
    background-image: url(../img/sprite.svg);
    background-repeat: no-repeat;
    background-size: 256px 64px;
}

.footer__about {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    width: 380px;
}

.footer__about-items {
    width: 165px;
    margin-top: 4px;
    margin-right: 16px;
}

.footer__about-items:nth-child(2n+1) {
    padding-left: 39px;
  }

.footer__about-link {
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}