html {
  font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
}

.page-wrapper {
    position: absolute;
    width: 100%;
}

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.visually-hidden {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    display: inline;
    text-decoration: none;
}