body {
    min-width: 900px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    background-color: #849d8f;
}

.container {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}