$primary-color: #849d8f;
$secondary-color: #8996a6;
$tertiary-color: #9d8b84;

$accent-color-light: #f26843;
$accent-color-dark: #e74a35;
$accent-color-shadow: #B01000;
$accent-color-active-light: #e1613e;
$accent-color-active-dark: #d74632;